* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	min-height: 100vh;
	min-width: 100vw;
	width: max-content;
	background: #2980b9;
	background: -webkit-linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
	background: linear-gradient(to bottom, #ffffff, #6dd5fa, #2980b9);
	background-size: 100% auto;
	/* background-size: cover;
	background-repeat: no-repeat; */
}

header {
	margin: auto;
	padding: 1rem 0;
	position: sticky;
	top: 0;
	left: 0;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
	font-size: 1.5rem;
	text-align: center;

	background: #757f9a;
	background: -webkit-linear-gradient(to top, #d7dde8, #757f9a);
	background: linear-gradient(to top, #d7dde8, #757f9a);
	/* background-size: 100% auto; */
}

header h1 {
	padding: 1.5rem;
}

/* COMMAND CENTER */
/* Options to manipulate the grid */
header .command-center {
	margin: auto;
	padding: 0.5rem;
	width: 100%;
}

header .command-center .buttons,
header .command-center select {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	margin: 0 1rem;
}

header .command-center select {
	outline: none;
}

header .command-center #color-menu option {
	color: black;
}

header .command-center #color-menu #slategray,
header .command-center #color-menu #deeppink,
header .command-center #color-menu #green,
header .command-center #color-menu #darkgreen,
header .command-center #color-menu #blue,
header .command-center #color-menu #darkblue,
header .command-center #color-menu #darkviolet,
header .command-center #color-menu #purple,
header .command-center #color-menu #indigo {
	color: white;
}

/* Grid */
body .content {
	/* height: 100vh; */
	margin: 25px;
}

table {
	margin: 25px auto;
	table-layout: fixed;
    border-collapse: collapse;
	empty-cells: show;
}

td {
    background-color: white;
    border: 1px black solid;
    padding: 1.5rem 1.5rem;
}